.git
.github
.idea
.vscode
**/.DS_Store
**/.env
**/.env.*
**/node_modules
**/vendor
**/build
**/.dart_tool
android
assets
ios
lib
linux
macos
test
web
windows
backend/public/build
backend/storage/app/private/*
backend/storage/app/public/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/testing/*
backend/storage/framework/views/*
backend/storage/logs/*
backend/tests
backend/docs
backend/deploy
backend/fly.toml
backend/phpunit.xml
