.git
.github
.env
.env.*
!.env.example
.idea
.vscode
node_modules
vendor
public/build
storage/app/private/*
storage/app/public/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
tests
phpunit.xml
npm-debug.log
yarn-error.log
Dockerfile*
fly.toml
deploy
docs
