<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>748584405266-sm8f472b53nlm15pk9k7007kfhnem35g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.748584405266-sm8f472b53nlm15pk9k7007kfhnem35g</string>
	<key>API_KEY</key>
	<string>AIzaSyCg6ibxaCkWLRUm6q-Kc_Dpp7lAqLWIoNY</string>
	<key>GCM_SENDER_ID</key>
	<string>748584405266</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.civin.civin</string>
	<key>PROJECT_ID</key>
	<string>civin-app-e2d99</string>
	<key>STORAGE_BUCKET</key>
	<string>civin-app-e2d99.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748584405266:ios:14b4c9aaabd769fb6d8bcb</string>
</dict>
</plist>